<!DOCTYPE html>
<html>
<head>
    <title>Weather Forecast</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Weather Forecast</h1>

    <form id="weatherForm">
        <input style="width: 500px;" type="text" id="cityInput" placeholder="Enter city name,country_code(two letter) e.g delhi,in or london,uk">
        <button type="submit">Get Forecast</button>
    </form>

    <div id="weatherResult"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>